{% extends 'shared/base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'styles/base.css' %}" />
{% endblock %} {% block content %}

<h3>{{activity_type.title}}!</h3>
<a
  type="button"
  button
  class="btn btn-success"
  href="{% url 'pawpalapp:add_activity' activity_type.id %}"
  >{{activity_type.title}}</a
>
<div class="recent_activity_list">
  <h6>Most Recent</h6>
  {% for activity in activities %}
  <div class="activity" id="{{activity.id}}">
    {% csrf_token %}
    <form
      action="{% url 'pawpalapp:activity_type_details' activity_type.id %}"
      method="POST"
    >
      <fieldset>
        <label for="note">Note: </label>
        <input id="note" type="text" name="note" value="{{ activity.note }}" />
      </fieldset>
    </form>
    <p>@ {{activity.when}}</p>
  </div>
  <input type="hidden" name="actual_method" value="PUT" />
  <button type="button" class="btn btn-success">Edit</button>
  <input type="hidden" name="id" value="{{activity.id}}" />

  {% csrf_token %}
  <form
    action="{% url 'pawpalapp:activity_type_details' activity_type.id %}"
    method="POST"
  >
    <input type="hidden" name="actual_method" value="DELETE" />
    <button class="btn btn-danger">Delete</button>
    <input type="hidden" name="id" value="{{activity.id}}" />
  </form>

  {% endfor %}
</div>

{% endblock %}
