body {
  background-color: #24d2f9;
}

.messages {
  background-color: #f5f5f5;
  border-radius: 10px;
  margin-top: 10px;
}

h1 {
  font-family: "Cutive Mono", serif;
  font-size: 50px;
}

.nav,
.pawpal {
  background-color: #24d2f9;
}

a.pawpal_name {
  align-self: center;
}

h3 {
  font-family: "Cutive Mono", serif;
  font-size: 25px;
  text-align: center;
}

label,
p,
h4 {
  font-family: "Cutive Mono", serif;
  text-align: center;
}
p.no_acct {
  font-family: "Cutive Mono", serif;
  font-size: 20px;
}

button,
small {
  font-family: "Quicksand", sans-serif;
}

.btn,
.button,
fieldset {
  margin-top: 5px;
}

p.activity_date {
  font-weight: 250;
}

.board {
  background-color: #f5f5f5;
}

img {
  height: 100px;
  width: 100px;
}

.activity_list {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}

.card {
  margin: 5px;
  max-width: 500px;
}

.buttons_container {
  display: flex;
  flex-direction: row;
}

.add_message,
.to_message_board {
  max-width: 450px;
  margin: 10px;
}

.message_board {
  max-width: 500px;
}
