body {
  background-color: #24d2f9;
}

.messages {
  background-color: #f5f5f5;
  border-radius: 10px;
  margin-top: 10px;
}

h1 {
  font-family: "Cutive Mono", serif;
  font-size: 50px;
}

.nav,
.pawpal {
  background-color: #24d2f9;
}

h3 {
  font-family: "Cutive Mono", serif;
  font-size: 25px;
  text-align: center;
}

h3 {
  font-family: "Cutive Mono", serif;
  text-align: center;
}

label,
p,
h4 {
  font-family: "Cutive Mono", serif;
  text-align: center;
}
p.no_acct {
  font-family: "Cutive Mono", serif;
  font-size: 20px;
}

button,
small {
  font-family: "Quicksand", sans-serif;
}

.btn,
.button,
fieldset {
  margin-top: 5px;
}
