{% extends 'shared/base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'styles/base.css' %}" />
{% endblock %} {% block content %}
<div class="profile_info">
  <h3>Profile Info</h3>
  <ul>
    <li class="username">Username: {{ profile_view.parent.user.username }}</li>
    <li class="email">Email: {{ profile_view.parent.user.email }}</li>
  </ul>
  <a
    button
    type="button"
    class="btn btn-success container-fluid"
    href="{% url 'pawpalapp:profile_edit' %}"
    >Edit Profile</a
  >
</div>
<div class="pawpals">
  <h4>Your PawPals!</h4>
  {% for pawpal in profile_view.parent_pawpals%}
  <div class="pawpal container-fluid">
    <a
      class="pawpal_name"
      href="{% url 'pawpalapp:pawpal_details' pawpal.pawpal.id %}"
      >{{ pawpal.pawpal.name }}</a
    >
    <form action="{% url 'pawpalapp:delete_pawpal' %}" method="GET">
      {% csrf_token %}
      <input type="hidden" value="{{ pawpal.pawpal.id }}" name="id" />
      <input type="hidden" value="DELETE" name="actual_method" />
      <button class="btn btn-danger container-fluid">
        RIP {{ pawpal.pawpal.name}}
      </button>
    </form>
  </div>
  {% endfor %}
  <a
    button
    type="button"
    class="btn btn-success container-fluid"
    href="{% url 'pawpalapp:add_pawpal' %}"
    >Add PawPal</a
  >
</div>
{% endblock %}
