{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>PawPal</title>
    <link rel="stylesheet" href="{% static 'styles/base.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Cutive+Mono"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Quicksand"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
      integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
      crossorigin="anonymous"
    />
    {% block css %} {% endblock %}
  </head>
  <body>
    <header>
      {% block nav %}
      <nav class="navbar navbar-expand-md sticky-top">
        <a class="navbar-brand" href="{% url 'pawpalapp:home' %}">PawPal</a>
        {% if request.user.is_authenticated %}
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="PawPal"
          aria-controls="PawPal"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"
            ><i class="fas fa-bars hamburger"></i>
          </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'pawpalapp:home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'pawpalapp:profile' %}"
                >Profile</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'pawpalapp:add_pawpal' %}"
                >Add PawPal</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Find PawPal</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Message Board</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'pawpalapp:logout' %}">Logout</a>
            </li>
          </ul>
        </div>
        {% endif %}
      </nav>
      {% endblock %}
    </header>
    {% block content %} {% endblock %}
  </body>
</html>
