{% extends 'shared/base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'styles/base.css' %}" />
{% endblock %} {% block content %}
<h3>{{pawpal.name}}</h3>
<img src="pawpal.image" class="pawpal_image" alt="{{pawpal.name}}" />
<div class="activity_type_list">
  {% for activity_type in activity_types %}
  <div class="activity_type" id="{{activity_type.id}}">
    {% csrf_token %}
    <form
      action="{% url 'pawpalapp:activity_type_details' activity_type.id %}"
      method="GET"
    >
      <button class="button">
        {{activity_type.title}} {{activity_type.pawpal.name}}
      </button>
    </form>
    <ul class="activity_notes_list">
      {% for activity in activities %} {% if activity.activity_type_id ==
      activity_type.id %}
      <li class="activity_note">{{activity.note}}</li>
      {% else %}
      <li class="activity_note">No activity yet!</li>
      {% endif %} {% endfor %}
    </ul>
    {% endfor %}
  </div>

  {% endblock %}
</div>
