{% extends 'shared/base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'styles/base.css' %}" />
{% endblock %} {% block content %}
<h3>{{pawpal.name}}</h3>
<img src="pawpal.image" class="pawpal_image" alt="{{pawpal.name}}" />
<div class="message_board">
  <h4>{{pawpal.name}} Messages</h4>
  <div class="messages">
    <ul>
      {% for message in messages.reverse|slice:":3" %}
      <li>{{message.parent.user.username}}: {{message.body}}</li>
      {% endfor %}
    </ul>
  </div>
  <a
    button
    type="button"
    class="btn"
    href="{% url 'pawpalapp:add_message' pawpal.id %}"
    >Add Message</a
  >
  <a
    button
    type="button"
    class="btn"
    href="{% url 'pawpalapp:message_list' pawpal.id %}"
    >Go to Message Board</a
  >
</div>
<a
  button
  type="button"
  class="btn btn-success"
  href="{% url 'pawpalapp:add_activity_type' pawpal.id %}"
  >Add Activity Type</a
>
<div class="activity_type_list">
  {% for activity_type in activity_types %}
  <div class="activity_type" id="{{activity_type.id}}">
    {% csrf_token %}
    <form
      action="{% url 'pawpalapp:activity_type_details' activity_type.id %}"
      method="GET"
    >
      <button class="button">
        {{activity_type.title}} {{activity_type.pawpal.name}}
      </button>
    </form>
    <ul class="activity_notes_list">
      {% for activity in activity_type.activity_set.all.reverse|slice:":5" %}
      <li class="activity_note">{{activity.note}}</li>
      {% endfor %}
    </ul>
  </div>
  {% endfor %} {% endblock %}
</div>
