{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>PawPal</title>
    <link rel="stylesheet" href="{% static 'styles/base.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Cutive+Mono"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Quicksand"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
      integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
      crossorigin="anonymous"
    />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% block css %} {% endblock %}
  </head>
  <body class="pawpal">
    <header>
    <nav class="navbar navbar-expand-md sticky-top">
        <a class="navbar-brand" href="{% url 'pawpalapp:home' %}">PawPal</a>
    </header>
    {% if parent_pawpal_list %}
    {% for pawpal in parent_pawpal_list%}
        <div class="pawpal" id="{{pawpal.pawpal.id}}">
        <img src="{{pawpal.pawpal.image}}" alt="{{pawpal.pawpal.name}}"/>
        <p>{{pawpal.pawpal.namej}}</p>
        </div>
        <a
        button
        type="button"
        class="btn btn-success"
        href="{% url 'pawpalapp:pawpal_details' pawpal.pawpal.id %}">Do Stuff with {{pawpal.pawpal.name}}</a>
        {% endfor %}
    {% else %}
    <h3>Add Pawpal</h3>
    <div>
    <a
    button
    type="button"
    class="btn btn-success"
    href="{% url 'pawpalapp:add_pawpal' %}"
    >Add PawPal</a
  >
    {% endif %}
    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <!-- Popper.JS -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
      integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
      crossorigin="anonymous"
    ></script>
    <!-- Bootstrap JS -->
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
      integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/4940090f00.js"
      crossorigin="anonymous"
    ></script>

  </body>